<section class="section" *ngIf="blocks?.length > 0">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l6 item">
                <ngu-block-category [blocks]="blocks" [category]="'official'"></ngu-block-category>
            </div>
            <div class="col s12 m12 l6 item">
                <ngu-block-category [blocks]="blocks" [category]="'starters'"></ngu-block-category>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l6 item">
                <ngu-block-category [blocks]="blocks" [category]="'ngrx'"></ngu-block-category>
            </div>
            <div class="col s12 m12 l6 item">
                <ngu-block-category [blocks]="blocks" [category]="'ui'"></ngu-block-category>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l6 item">
                <ngu-block-category [blocks]="blocks" [category]="'helpers'"></ngu-block-category>
            </div>
            <div class="col s12 m12 l6 item">
                <ngu-block-category [blocks]="blocks" [category]="'education'"></ngu-block-category>
            </div>
        </div>
    </div>
</section>

<section class="section no-result-message" *ngIf="!blocks?.length">
    <div class="container">
        <div class="row">
            <h2 class="col s12">No related modules&hellip; Is the force with you?</h2>
        </div>
    </div>
</section>