<section class="section section-filter">
  <div class="container">
      <div class="row center">
        <a class="waves-effect waves-light btn grey" (click)="update.emit('')">All</a>
        <a class="waves-effect waves-light btn green" (click)="update.emit('stable')">Stable</a>
        <a class="waves-effect waves-light btn yellow" (click)="update.emit('rc')">RC</a>
        <a class="waves-effect waves-light btn orange" (click)="update.emit('beta')">Beta</a>
        <a class="waves-effect waves-light btn red" (click)="update.emit('alpha')">Alpha</a>
      </div>
  </div>
</section>

