<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue darken-2">
      <div class="container">
        <a href="#!" class="brand-logo">NG2USE</a>

        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Our Profile</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="sass.html">Our Profile</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
