<div class="card" *ngIf="categoryBlocks.length > 0">
  <div class="card-title">{{category}}</div>

  <div class="card-content">
    <ul class="collapsible popout" data-collapsible="accordion">
      <li *ngFor="let block of categoryBlocks" (click)="toggleBlockDetails(block)">
        <div class="collapsible-header white-text" [ngClass]="setBlockTitleClass(block.status)">{{block.name}}<i class="icon icon-plus"></i></div>
        <div class="collapsible-body">
          <ngu-block-details *ngIf="block.show" [block]="block"></ngu-block-details>
        </div>
      </li>
    </ul>
  </div>
</div>
