<div class="card" *ngIf="categoryBlocks.length > 0">
  <div class="card-title">{{category}}</div>

  <ul class="card-content">
    <li class="accordion" *ngFor="let block of categoryBlocks" (click)="toggleBlockDetails(block)">
      <div class="accordion-header white-text" [ngClass]="setBlockTitleClass(block.status)">{{block.name}}<i class="icon icon-plus"></i></div>
      <div class="accordion-body">
        <ngu-block-details *ngIf="block.show" [block]="block"></ngu-block-details>
      </div>
    </li>
  </ul>
</div>