* {
  box-sizing: border-box;
}

html {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto', Helvetica, Arial, 'Lucida Sans', sans-serif;
  line-height: 1.5;
}

@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

body {
  margin: 0;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

aside {
  padding-bottom: 1rem;
}

blockquote {
  border-left: 5px solid #F44336;
  clear: both;
  font-size: 14px;
  font-weight: normal;
  margin-left: 0;
  padding-left: 0.5rem;
}


/* TOP BAR AND BANNER */

header {
  height: 30px;
}

header img {
  box-sizing: content-box;
  height: 35px;
  margin-top: 2px;
  padding: 3px;
}

nav {
  margin-top: 1rem;
}

nav .nav-wrapper .search {
  height: 56px;
}

nav .input-field input {
  background-color: #2196F3;
  border: none;
  font-size: 1.4rem;
  padding-left: 1.5rem;
  text-align: center;
  transition: all .3s;
  width: 100%;
}

nav .input-field input:focus {
  background-color: #FFF;
  border: none;
  box-shadow: none;
  color: #444;
  outline: none;
}

nav .input-field label {
  cursor: text;
  left: 1rem;
  position: absolute;
  top: 0;
  transition: .2s ease-out;
  z-index: 20;
}

nav .input-field label i {
  color: #DDD;
  display: inline-block;
  font-size: 2rem;
  height: 56px;
  line-height: 56px;
  transition: color .3s;
}

nav .input-field input:focus + label i {
  color: #0D47A1;
}

@media only screen and (min-width: 601px) {
  nav {
    margin-left: 16.6666666667% !important;
  }
}

@media only screen and (min-width: 993px) {
  nav {
    margin-left: 25% !important;
  }
}

.section.top-banner {
  background-color: #0D47A1;
  padding-bottom: 0.5rem;
}

.section.section-filter {
  padding-bottom: 0;
  padding-top: 0;
}

.section.section-filter .selected-filter {
  border: 1px solid #FFF;
  opacity: 1;
}

.no-result-message {
  border-bottom: 3px double #2196F3;
  border-top: 3px double #2196F3;
  color: #0D47A1;
  margin: 15px 0;
}

.no-result-message .row {
  margin-bottom: 0;
}


/* FOOTER */

footer {
  padding: 10px 0 10px 0;
}

footer h2 {
  border-bottom: 1px dashed;
  line-height: 2;
  margin-top: 10px;
}


/* CARDS */

.card {
  border: 1px solid #CCC;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
}

.card-title {
  border-bottom: 1px solid #CCC;
  padding: 10px 20px;
  text-transform: uppercase;
}

.card-content {
  padding: 5px 0;
}

.accordion {
  margin: 0 20px;
}

.accordion-header {
   border-bottom: 1px solid #DDD; 
  cursor: pointer;
  line-height: 3rem;
  padding: 0 1rem;
}

.accordion-header i {
  float: left;
  font-size: 1.6rem;
  margin-right: 1rem;
  text-align: center;
}

.block-details-wrapper {
  transition: all 1s;
}


.block-details {
  float: left;
  width: 60%;
}

.block-details p {
  border-bottom: 1px solid #DDD;
  line-height: 2;
  padding: 0 0 0 1.5rem;
}

.character {
  float: right;
  margin: 20px;
  width: 30%;
}


/* HELPERS */

.nav-wrapper, .btn, .card, .accordion {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.center {
  text-align: center;
}

.input-field {
  position: relative;
}

.btn {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  letter-spacing: 0.5px;
  line-height: 36px;
  margin-bottom: 5px;
  opacity: 0.95;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  transition: border 1s ease-out;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}


/* BROWSER VENDOR RELATED STYLING */

::-webkit-input-placeholder {
  color: #DDD;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #DDD;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #DDD;
}

:-ms-input-placeholder {
  color: #DDD;
}

::-webkit-search-cancel-button {
  z-index: -1;
}

::-ms-clear {
  z-index: -1;
}


/* COLOURS */

.blue {
  background-color: #2196F3;
}

.green {
  background-color: #4CAF50;
}

.grey {
  background-color: #9e9e9e;
}

.orange {
  background-color: #ff9800;
}

.red {
  background-color: #F44336;
}

.white-text {
  color: #FFF;
}


/* GRID */

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  padding: 0 0.75rem;
}

.s1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

@media only screen and (min-width: 601px) {
  .m1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .m2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .m5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .m7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .m10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .m11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}

@media only screen and (min-width: 993px) {
  .l1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .l5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .l7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .l11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}


/* FONTS & ICONS */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fontello';
  src: url('../fonts/fontello.woff2') format('woff2'), url('../fonts/fontello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  display: inline-block;
  font-family: 'Fontello';
  font-size: 0.8em;
  font-style: normal;
  margin-left: .2em;
  margin-right: .2em;
  text-align: center;
  position: relative;
  speak: none;
  width: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-search:before {
  content: '\e800';
}

.icon-plus:before {
  content: '\e801';
}

.icon-minus:before {
  content: '\e803';
}