<div class="block-details-wrapper" *ngIf="block">
  <section class="block-details">
    <p *ngIf="block.description">{{block.description}}</p>
    <p *ngIf="block.username">Repo owned by {{block.username}} <img class="avatar" [src]="block.avatar" height="20" alt="" /></p>
    <p *ngIf="block.watchers">{{block.watchers}} people watching</p>
    <p *ngIf="block.homepage">Homepage at <a [href]="block.homepage">{{block.homepage}}</a></p>
    <p *ngIf="block.lastUpdate">Last update on {{block.lastUpdate}}</p>
    <p *ngIf="block.repoUrl">GitHub repo is at <a [href]="block.repoUrl">{{block.repoUrl}}</a></p>
  </section>

  <aside>
    <img class="character" [src]="characterImage" alt="{{block.character}}" width="50%">
    <blockquote>{{block.quote}}</blockquote>
  </aside>
</div>