<footer class="white-text container">
  <section class="faq">
    <h2>The FAQ</h2>

    <h3>Tell me this first, what is the current Angular version?</h3>
    <p>Angular stable version is currently 2.2.1 and the latest version is 2.3.0-beta.0.</p>

    <h3>Now tell me, what on earth is this about?</h3>
    <p>
      This site shows off a list of modules that you can use in your Angular 2 projects and some details related to it. The modules
      are categorized according to their purpose. Also, distinct colours are used to depict the status of each module.
    </p>

    <h3>And that freakish number beside each module name?</h3>
    <p>
      It is the most recent stable version that module supports. It may not be accurate for a few modules that haven&rsquo;t clearly
      specified the version it supports. However, don&rsquo;t despair. Most of it should be correct and we got the supported
      versions from <a href="https://www.reddit.com/r/Angular2/comments/5alp3z/helpful_github_repos_curated_through_november_2016/">an awesome thread</a> 
      in the <a href="https://www.reddit.com/r/Angular2/">Angular 2 subreddit</a>.
    </p>

    <h3>Then what&rsquo;s that annoying image and quote about?</h3>
    <p>Wait, we thought you know about Star Wars already. And who doesn&rsquo;t like Star Wars?</p>

    <h3>Who are the culprits behind this?</h3>
    <p>
      We were a hackathon team in <a href="https://www.angularattack.com/">Angular Attack 2016</a>. We called ourselves as
      <a href="http://www.angularattack.com/entries/668-exilee-coders">Exilee Coders</a>. It took a long time to get this
      released, but we wanted to somehow do it. And here it is now.
    </p>

    <h3>How can I rant or help you guys?</h3>
    <p>
      We totally understand in case you&rsquo;d want to rant at us. Also, we&rsquo;d like to get your feedback. Maybe even some
      help to make this site better for Angular devs. The site&rsquo;s repo on github is <a href="https://github.com/immysl/ng2use">immysl/ng2use</a>.
      Please feel free to take a peek.
    </p>

    <h3>Is this site stable or broken?</h3>
    <p>
      We think it is stable enough for use and it should work even on a small mobile screen. The site layout is responsive but
      it may have a few minor glitches. We will keep working on the fixes and hopefully will be able to add a few more things in
      the future.
    </p>

    <h3>Do you guys charge to share this site?</h3>
    <p>No not at all. In fact, we love you for thinking of sharing this site. So please feel free to share the love.</p>

    <h3>Is there any last words before I finish reading this boring &ldquo;The FAQ&rdquo;?</h3>
    <p>
      Yes, we do have a few. We are fans of Shai Reznik&rsquo;s talks on <a href="https://www.ng-conf.org/">ng-conf</a>. Do
      check out his talk called <a href="https://www.youtube.com/watch?v=M_Wp-2XA9ZU">ng-wat</a> (ng-conf 2015) and of course
      <a href="https://www.youtube.com/watch?v=aSFfLVxT5vA">The ng-show</a> (ng-conf 2016). Oh, and don&rsquo;t forget to
      watch those amazing Star Wars movies. There&rsquo;s one coming out soon this year.
    </p>
  </section>

  <p class="licence">
    <small>
    Licensed under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0</a>. 
    The Star Wars icons used in this site were created by <a href="https://www.iconfinder.com/sensibleworld">Sensible World</a> in Iconfinder.
  </small>
  </p>
</footer>